astroid==2.11.2
async-timeout==4.0.2
Deprecated==1.2.13
dill==0.3.4
future==0.18.2
getmac==0.8.3
iso8601==1.0.2
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.1
pylint==2.13.4
pyparsing==3.0.7
pyserial==3.5
PyYAML==6.0
redis==4.2.1
tomli==2.0.1
typing_extensions==4.1.1
wrapt==1.14.0
